<div class="container-fluid vh-100 d-flex flex-column">

  <div class="top bg-light text-primary py-4">
    <div class="container-fluid">
      <div class="row align-items-center">
       
        <div class="col-1 col-md-4 d-flex justify-content-end align-items-end">
          <!-- <img src="assets/images/file.png" alt="Library Image" class="img-fluid" style="max-height:130px;" /> -->
          <img src="assets\images\output.png" alt="Library Image" class="img-fluid mt-3" style="max-height:150px;" />
        </div>

      
        <div class="col-2 col-md-4 text-start">
          <h2 class="title">Enchanted Bookshelf</h2>
          <h6 class="tagline">Discover magic in every chapter</h6>
        </div>

       
        <div class="col text-end">
          <h5 class="mb-0 p-2 mx-2">Hi, {{username}}!</h5>
        </div>
      </div>
    </div>
  </div>
  <app-home *ngIf="isFunction==='Home'"/>
 
  <nav class="navbar navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
      <ul class="navbar-nav ml-auto d-flex flex-row">
        <li class="nav-item mx-2">
          <a class="nav-link text-light cursor-pointer" (click)="goUserPage()">User Page</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light cursor-pointer" (click)="goHome()">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light cursor-pointer" (click)="getBooks()">Books</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light cursor-pointer" (click)="getUsers()">Users</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light cursor-pointer" (click)="getSales()">Offers</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light cursor-pointer" (click)="getBorrowList()">Borrows</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light cursor-pointer" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  

  
    <div class="row h-90 bg-light">
      <div class="user-table-container align-items-center justify-content-center">
        <div class="table-responsive align-items-center justify-content-center">
        
        <div class=".user-table-container" *ngIf="isFunction === 'GetBooks'">
          <div class="text-right  my-3 ">
            <button class="btn btn-primary text-light m-1" (click)="onAddBook()">Add Book</button>
            <button class="btn btn-primary text-light m-1" (click)="bulkUpload()">Bulk Upload</button>
          </div>
          <div class="table-responsive">
            <mat-form-field class="mb-3 w-50">
              <mat-label>Search books,authors...</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Search books">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table table-hover bg-light">

            
              <ng-container [matColumnDef]="displayedColumns[0]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumn[0] | uppercase}}</th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field appearance="fill" class="w-100">
                    <input matInput [(ngModel)]="element.bookName" class="form-control">
                  </mat-form-field>
                </td>
              </ng-container>
            
              <!-- Author Column -->
              <ng-container [matColumnDef]="displayedColumns[1]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumn[1] | uppercase}}</th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field appearance="fill" class="w-100">
                    <input matInput [(ngModel)]="element.bookAuthor" class="form-control">
                  </mat-form-field>
                </td>
              </ng-container>
            
              <!-- Number of Books Column -->
              <ng-container [matColumnDef]="displayedColumns[2]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumn[2] | uppercase}}</th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field appearance="fill" class="w-100">
                    <input matInput type="number" [(ngModel)]="element.noOfBook" class="form-control">
                  </mat-form-field>
                </td>
              </ng-container>
            
              <!-- Price Column -->
              <ng-container [matColumnDef]="displayedColumns[3]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumns[3] | uppercase}}</th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field appearance="fill" class="w-100">
                    <input matInput type="number" [(ngModel)]="element.price" class="form-control">
                  </mat-form-field>
                </td>
              </ng-container>
            
              <!-- Image Column -->
              <ng-container [matColumnDef]="displayedColumns[4]">
                <th mat-header-cell *matHeaderCellDef>{{displayedColumn[4] | uppercase}}</th>
                <td mat-cell *matCellDef="let element">
                  <div class="image-upload-wrapper" (click)="fileInput.click()">
                    <img *ngIf="element.bookImage" 
                         [src]="'data:image/jpeg;base64,' + element.bookImage" 
                         alt="{{ element.bookName }}" 
                         style="width: 100px; height: 100px; cursor: pointer;">
                    <input 
                      type="file"  
                      id="image"
                      name="image"
                      style="display: none;" 
                      (change)="onFileSelected($event, element)" 
                      #fileInput
                    />
                  </div>
                </td>
              </ng-container>
              
            
              <!-- Description Column -->
              <ng-container [matColumnDef]="displayedColumns[5]">
                <th mat-header-cell *matHeaderCellDef>{{displayedColumn[5] | uppercase}}</th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field appearance="fill" class="w-100">
                    <input matInput type="text" [(ngModel)]="element.description" class="form-control">
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container [matColumnDef]="displayedColumns[6]">
                <th mat-header-cell *matHeaderCellDef>{{displayedColumn[6] | uppercase}}</th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field appearance="fill" class="w-100">
                    <input matInput type="text" [(ngModel)]="element.offerPrice" class="form-control">
                  </mat-form-field>
                </td>
              </ng-container>
            
              <!-- Actions Column -->
              <ng-container [matColumnDef]="displayedColumns[7]">
                <th mat-header-cell *matHeaderCellDef>{{displayedColumn[7] | uppercase}}</th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex p-3" style="gap: 0.5rem;">
                    <button mat-icon-button (click)="saveChanges(element)" data-bs-toggle="tooltip" title="Save">
                      <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteBook(element.bookId)"  data-bs-toggle="tooltip" title="Delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>
            
              <!-- Header and Rows -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
            
            <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 50, 100]"></mat-paginator>
          </div>
      

        
      </div>
    </div>
    <app-user-input  *ngIf="page==='Add'" [buttonName]="buttonName" [page]="page" (close)="onClose()" />
    <app-borrowlist *ngIf="isFunction === 'GetBorrowList'" [getJsonValue]="getJsonValue"></app-borrowlist>
    <app-sale *ngIf="isFunction === 'GetSales'" [getJsonValue]="getJsonValue"></app-sale>
    <app-get-users  *ngIf="isFunction === 'GetUsers'" [getJsonValue]="getJsonValue" />
    <app-user-file  *ngIf="page==='BulkUpload'" (close)="onClose()"/>
  </div>

