<div class="container book-list">
  <div class="row m-0 align-items-center justify-content-center">
    <!-- Each card -->
    <div class="col-sm-6 col-md-4 col-lg-2 m-5 p-2 position-relative" *ngFor="let book of getJsonValue; let i = index" [ngClass]="{'rightmost': (i + 1) % 4 === 0}">
      <div class="card h-100 text-light rounded-custom bg-light">
        <img [src]="'data:image/png;base64,' + book.bookImage" alt="Book Image" class="card-img-top book-image">
        <div class="card-body d-flex flex-column text-primary">
          <h5 class="card-title">{{ book.bookName }}</h5>
          <p class="card-text">Author: {{ book.bookAuthor }}</p>
          <p class="card-text">
            <!-- If OfferPrice is 0, just display the price -->
            <span *ngIf="book.offerPrice === 0">
              Price: {{ book.price | currency }}
            </span>
          
            <!-- If OfferPrice is greater than 0, display the price with a strikethrough and the offer price -->
            <span *ngIf="book.offerPrice > 0">
              Price: 
              <span style="text-decoration: line-through;">
                {{ book.price | currency }}
              </span>
              &nbsp; <!-- Adds a space between the strikethrough price and the offer price -->
              {{ book.offerPrice | currency }}
            </span>
          </p>
          
          
          
          <div class="mt-auto text-center">
            <button class="btn btn-primary text-light" (click)="AddToCart(book.bookName, book.offerPrice > 0 ? book.offerPrice : book.price)">Add to Cart</button>

          </div>
        </div>
      </div>

      <!-- Hover box to display enlarged image and details -->
      <div class="hover-box position-absolute bg-light">
        <div class="hover-box-content">
          <div class="hover-image">
            <img [src]="'data:image/png;base64,' + book.bookImage" alt="Book Image" class="enlarged-image">
          </div>
          <div class="hover-details">
            <h5>{{ book.bookName }}</h5>
            <p>Author: {{ book.bookAuthor }}</p>
            <p>
              <!-- If OfferPrice is 0, just display the price -->
              <span *ngIf="book.offerPrice === 0">
                Price: {{ book.price | currency }}
              </span>
            
              <!-- If OfferPrice is greater than 0, display the price with a strikethrough and the offer price -->
              <span *ngIf="book.offerPrice > 0">
                Price: 
                <span style="text-decoration: line-through;">
                  {{ book.price | currency }}
                </span>
                &nbsp; <!-- Adds a space between the strikethrough price and the offer price -->
                {{ book.offerPrice | currency }}
              </span>
            </p>
            
            
            <p>Description: {{ book.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
