<div class="popup">
  <dialog open>
    <form>
      <label *ngIf="buttonName === 'Update'">Book Id:</label>
      <input *ngIf="buttonName === 'Update'" [(ngModel)]="book.bookName" name="bookName" required>
      <br *ngIf="buttonName === 'Update'">

      <label>Book Name:</label>
          <input  [(ngModel)]="book.bookName" name="bookName" required>
          <br>
          
          <label>Book Author:</label>
          <input  [(ngModel)]="book.bookAuthor" name="bookAuthor" required>
          <br>
          
          <label>Number of Book:</label>
          <input [(ngModel)]="book.noOfBook" name="noOfBooks" required>
          <br>
          
          <label >Price:</label>
          <input [(ngModel)]="book.price" name="price" required>
          <br>
          
          <button type="button" (click)="userInput()">{{buttonName}}</button>

          
        
      
    </form>
  </dialog>
  

</div>