/* @import '../node_modules/ngx-toastr/toastr.css'; */

* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    background-color:black;
  }
  :root {
    --primary-color:  #6F4E37;
    --secondary-color: #8B5E3C;
    --font-size: 12px;
    --white-background:#F8F4E1;
    --gradient: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}
  
  body {
    font-family: Garamond, serif;
    background-image:conic-gradient(to right, var(--primary-color), var(--secondary-color),var(--white-background)) !important;
    /* conic-gradient(to right, var(--primary-color), var(--secondary-color),var(--white-ground));  */
    /*color: #c3b3d8;*/
    height: 100%;
  }
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }

.toast-bottom-center {
  opacity:1;
}


