
.container {
    background-color:#0d5b69  ;
    width: 200px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    margin-left:5px;
    margin-top: 10px;
    justify-content: center;
}
 button {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 0.5rem;
    margin: 5px; 
    background-color: #5F9EA0;
    color: black;
    border: 1px solid black; 
    border-radius: 5px; 
    font: inherit;
    cursor: pointer;
    text-align: center;
    width: 150px; 
    height: 40px;
    vertical-align: middle;
}  
button:hover {
    background-color:#92c0c0 ;
  }


 
