<div >
    <div class="buttons">
        <button (click)="getBooks()">Get Books </button>
        <button (click)="onAddBook()">Add Book </button>
        <button (click)="getBook()">Get Book</button>
        <button (click)="bulkUpload()">Bulk Upload</button>
        <button (click)="getBooksInPages()">Get Books In Pages</button>
        <button (click)="updateBook()">Update Book</button>
        <button (click)="deleteBook()">Delete Books</button>
    </div>
    <app-user-input  *ngIf="isFunction === 'Add'" [buttonName]="buttonName"/> 
    <app-user-input  *ngIf="isFunction === 'Update'" [buttonName]="buttonName"/> 
    <app-user-id *ngIf="isFunction === 'Get'" [buttonName]="buttonName"/>
    <app-user-id *ngIf="isFunction === 'Delete'" [buttonName]="buttonName"/>
    <app-user-pages *ngIf="isFunction==='GetInPages'"/>
    <app-user-file *ngIf="isFunction==='BulkUpload'"/>
    <div class="books">
        <app-user-table *ngIf="isFunction==='GetBooks'" [getJsonValue]="getJsonValue"/>
    </div>
    <app-message *ngIf="message!=null" [message]=message/>



<!-- <h1 *ngIf="isFunction==='GetBooks'">Get Method</h1> -->
    <!-- <p *ngIf="isFunction==='GetBooks'">{{getJsonValue|json}}</p> -->
<!-- <h1>Post Method</h1>
    <p>{{postJsonValue|json}}</p> -->
