<div class="container">
    <button (click)="getBooks()">Get Books</button>
    <button (click)="onAddBook()">Add Book</button>
    
    <button (click)="getBook()">Get Books</button>
    <button (click)="addBookFromFile()">Add Book</button>
    <button (click)="getBooks()">Get Books</button>
    <button (click)="updateBook()">Add Book</button>
    <button (click)="deleteBook()">Get Books</button>
    <button (click)="addBookDynamic()">Add Book</button>
</div>
<app-user-input *ngIf="isAddingBook" /> 
<!-- <h1>Get Method</h1>
    <p>{{getJsonValue|json}}</p>
<h1>Post Method</h1>
    <p>{{postJsonValue|json}}</p>-->
