<div class="popup">
  <dialog open>
    <form class="form-container" #popupForm="ngForm" (ngSubmit)="userInput()">
      <!-- Book ID (visible only when updating) -->
      <div *ngIf="buttonName === 'Update'" class="form-group">
        <label i18n for="bookId">Book Id:</label>
        <input
          id="bookId"
          [(ngModel)]="book.bookId"
          name="bookId"
          required
        />
      </div>

      <!-- Book Name -->
      <div class="form-group">
        <label i18n for="bookName">Book Name:</label>
        <input
          id="bookName"
          [(ngModel)]="book.bookName"
          name="bookName"
          required
        />
      </div>

      <!-- Book Author -->
      <div class="form-group">
        <label i18n for="bookAuthor">Book Author:</label>
        <input
          id="bookAuthor"
          [(ngModel)]="book.bookAuthor"
          name="bookAuthor"
          required
        />
      </div>

      <!-- Number of Books -->
      <div class="form-group">
        <label i18n for="noOfBooks">Number of Books:</label>
        <input
          id="noOfBooks"
          [(ngModel)]="book.noOfBook"
          name="noOfBooks"
          required
        />
      </div>

      <!-- Price -->
      <div class="form-group">
        <label i18n for="price">Price:</label>
        <input
          id="price"
          [(ngModel)]="book.price"
          name="price"
          required
        />
      </div>

      <!-- Image Upload -->
      <div class="form-group">
        <label i18n for="bookImage">Book Image:</label>
        <input
          id="bookImage"
          type="file"
          (change)="onImageChange($event)"
          name="bookImage"
        />
      </div>

      <button type="submit">{{ buttonName }}</button>
    </form>
    <app-message *ngIf="message" [message]="message"></app-message>
  </dialog>
</div>
